/* You can add global styles to this file, and also import other style files */

body {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 15px;
}

.row-content {
  padding: 20px 0;
}